@charset "utf-8";

@import "mixins";
@import "variables";

body, h1, h2, p, address, a, button {
  @extend %nice-fonts;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: Raleway, sans-serif;
  background: url(../images/background1.png) no-repeat top center #f9f8fb;
}

.text--center {
  text-align: center;
}

.section-heading {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.heading-2 {
  font-weight: 900;
}

.section-text {
  margin: 30px 0;
  font-size: 17px;
  line-height: 27px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.site-header {
  padding-top: 45px;

  .container {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

  }

  .site-logo {
    font-family: Pacifico, cursive;
    font-weight: 400;
    font-size: 50px;
    margin: 0;
  }

  .main-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }

  .main-menu-item a {
    color: $dark-color;
    text-decoration: none;
    display: block;
    border-top: 3px solid transparent;
    padding-top: 5px;
    transition: border-top-color 0.2s;
    margin-right: 35px;
    font-size: 16px;

    &:hover {
      border-top-color: $primary-color;
    }
  }

  .main-menu-item.active a {
    border-top-color: $primary-color;

    &:hover {
      border-top-color: darken($primary-color, 30%);
    }
  }

  .main-menu-item:last-child a {
    margin-right: 0;
  }
}

.section-fresh {
  height: 900px;
  display: flex;
  align-items: stretch;
  position: relative;

  &::after {
    content: url(../images/scroll.png);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
  }

  .container {
    width: 100%;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
  }

  .section-fresh-content {
    max-width: 380px;
  }

  .section-fresh-action {
    text-transform: uppercase;
    font-weight: 300;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    height: 55px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    border: none;
    background: $primary-color;
    color: white;
    box-shadow: 0 20px 30px transparentize($primary-color, 0.7);
  }
}

.section-about {
  padding: 70px 0;
  background: #00b2b2;
  color: $light-color;
  &__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 768px) {
      flex-flow: wrap;
    }
  }
  &__figure {
    @media (min-width: 768px) {
      flex: 0 0 50%;
    }

  }
  &__article {
    @media (min-width: 768px) {
      flex: 0 0 41.666667%;
    }
  }
  &__heading {
    font-size: $headings-font-size;
  }

}

.section-gallery {
  padding: 100px 0 118px 0;
  background: #ffe92f;
  img {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  }
  &__text {
    margin-bottom: 48px;
    @media (min-width: 768px) {
      width: 50%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }
  &__content {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    @media (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
  &__first-column {

    img {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    }

    @media (min-width: 768px) {
      &:first-child {
        padding-right: 2.564%;
      }
      flex: 0 0 64.102%;
    }
  }
  &__second-column {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    figure {
      margin-bottom: 30px;
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }
    @media (min-width: 768px) {
      margin-top: 0;
      flex: 0 0 33.333%
    }
  }
  &__figure {
    width: 100%;
    &:first-child {
      margin-bottom: 30px;
    }
    @media (min-width: 768px) {
      &:first-child {
        padding-right: 2.564%;
      }
      flex: 0 0 48.718%;
    }
  }
  .gallery-bottom {
    margin-bottom: 50px;
  }
  &__button {
    width: 200px;
    height: 55px;
    border: none;
    background-color: #5585a2;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  }

}

.site-footer {
  background: $dark-color;
  color: white;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  .footer-author, .footer-copyright, .footer-logo {
    margin: 0;
    flex: 1;
  }

  .footer-copyright {
    font-style: normal;
  }

  .footer-logo {
    font-family: Pacifico, cursive;
    font-weight: 600;
    text-align: center;
  }

  .footer-author {
    text-align: right;

    strong {
      color: $primary-color;
    }
  }
}


